.date {
  display: flex;
  align-items: center;
  gap: 5px;

  color: #31bcd3;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__separator {
    display: inline-block;
    min-height: 15px;
    width: 2px;
    background-color: #fbbd2c;
  }
}
