.main-content {
  margin-top: 20px;
  height: calc(100% - (400px + 24px));

  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media (min-width: 1300px) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
